#hello {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#hello td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#hello tr:nth-child(even){background-color: #f2f2f2;}

#hello tr:hover {background-color: #ddd;}

#hello th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

fieldset{
  margin-top: 20px;
  width: 500px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 400px;
  margin-top: 20px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
