<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Employee Registeration Form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



	<link th:href="@{/styles/app.css}" rel="stylesheet" />
</head>

<body>
	<header th:insert="header.html "> </header>
	<div class="new">

		<fieldset>
			<legend>Department Details</legend>
			<form action="#" th:action="@{/dept/save}" th:object="${dept}" method="post">
				<p> <input type="hidden" th:field="*{deptno}" /></p>
				<p>Name: <input type="text" th:field="*{name}" /></p>
				<p>Location: <input type="text" th:field="*{loc}" /></p>
				<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
			</form>
		</fieldset>
	</div>
</body>

</html>